.profile
    position: relative
    width: 180px
    text-align: center
    &_block
        display: inline-flex
        align-items: center
        &__post
            background-color: grey
            border-radius: 5px
            border: 0
            &__create
                position: absolute
                transform: translateX(-50%)
                left: 0
                margin: 0
                background-color: #ffff
    &_btn
        outline: none
        border: 0
        background: transparent
        color: #ffff
    &_forms
        position: absolute