.post
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  gap: 0px 0px
  grid-template-areas: "post_new post_random post_random" "post_new post_random post_random" "post_popular post_popular post_popular"
.post_new 
    grid-area: post_new
.post_random 
    grid-area: post_random
.post_popular 
    grid-area: post_popular