.menu
	width: 80%
	margin-top: 60px
	&_items
		margin-top: 30px
		&__item
			&__image
				margin-right: 10px
			&__title
				text-align: center
	&_link
		color: #ffff
		font-size: 16px
		font-weight: 500
		text-decoration: none
		text-transform: uppercase
	&_active
		color: #8706ff
		font-size: 16px
		font-weight: 700
		text-decoration: none
		text-transform: uppercase
