.auth
    position: relative
    width: 200px
    &_forms
        width: 100%
        display: flex
        flex-direction: column
        gap: 10px
        &__item
            position: absolute
            width: 50px
            heigth: 80px
            left: -300%
            right: 0
            text-align: center
            &__login
                text-align: center
                font-size: 28px